html {
  background: url(../images/fall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.prof1-box{
	width: 850px;
	height: 200px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 40px;
	margin-left: 10px;
}

.whoami-box {
	width: 280px;
	height: 200px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: #daa520;
	margin: 0 auto;
	margin-top: -280px;
	margin-right: 10px;
}

.prof2-box{
	width: 559px;
	height: 450px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 25px;
	margin-left: 10px;
}

.prof3-box{
	width: 559px;
	height: 450px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: -530px;
	margin-right: 10px;
}

.prof4-box{
	width: 1230px;
	height: 400px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 40px;
	margin-left: 10px;
	text-align: center;
}

.website-icons {
	font-size: 120px;
}

.website-icons a {
	color: white;
}
